
<div align="center" class="" ng-controller="BookinglistCtrl">
    <h1>Booking list</h1>
    <hr class="bookinglist_hr">

    <div align="=center" class="status_messages">
        <div id="bookingDeleteSuccess" class="alert alert-success" style="display: none">
            <strong>Booking deleted!</strong>
            <div id="deleteSuccessMessage"></div>
        </div>
        <div id="bookingDeleteError" class="alert alert-danger" style="display: none">
            <strong>Deleting error!</strong>
            <div id="deleteErrorMessage"></div>
        </div>
        <div id="bookingDeleteWarning" class="alert alert-warning" style="display: none">
            <strong>Deleting warning!</strong>
            <div id="deleteWarningMessage"></div>
        </div>
    </div>

    <table id="booking" class="booking">
        <tr>
            <td> </td>
            <td><input ng-model="dateOfBookingSearch" type="text" placeholder="Date of booking"></td>
            <td><input ng-model="customerSearch" type="text" placeholder="Customer"></td>
            <td><input ng-model="carSearch" type="text" placeholder="Car"></td>
            <td><input ng-model="dateFromSearch" type="text" placeholder="Date from"></td>
            <td><input ng-model="dateToSearch" type="text" placeholder="Date to"></td>
            <td><input ng-model="amountSearch" type="text" placeholder="Amount"></td>
            <td><a style="font-size: 2em; color: black;" ng-click="searchClick()"><i class="fa fa-search"></i></a></td>
            <td></td>
        </tr>
        <tr>
            <th>No.</th>
            <th>Date of booking</th>
            <th>Customer</th>
            <th>Car</th>
            <th>Date from</th>
            <th>Date to</th>
            <th>Amount, EUR</th>
        </tr>
        <tr ng-repeat="booking in bookingArray track by $index">
            <td>{{$index + 1}}</td>
            <td>{{booking.date_of_booking}}</td>
            <td>{{getCustomerInfoById(customerArray, $index + 1)}}</td>
            <td>{{getCarInfoById(carArray, $index + 1)}}</td>
            <td>{{booking.date_from}}</td>
            <td>{{booking.date_to}}</td>
            <td>{{booking.amount}}</td>
            <td><a style="font-size: 2em; color: Tomato;" ng-click="deleteClick(booking.booking_pk)"><i class="fa fa-trash"></i></a></td>
            <td><a style="font-size: 2em; color: Dodgerblue;" ng-click="updateClick(booking.booking_pk)"><i class="fa fa-edit"></i></a></td>
        </tr>
    </table>
    <div class="add_new">
        <td><a style="font-size: 3em; color: #28a745;" ng-click="addNewClick()"><i class="fa fa-plus"></i></a></td>
    </div>
</div>
