<div id="bookingRegisterError" class="alert alert-danger" style="display: none">
    <strong>Registration error!</strong>
    <div id="registerErrorMessage"></div>
</div>
<div id="bookingRegisterWarning" class="alert alert-warning" style="display: none">
    <strong>Registration warning!</strong>
    <div id="registerWarningMessage"></div>
</div>

<div class="booking_container">
    <form>
        <h1>{{action}}</h1>
        <hr class="booking_hr">

        <label for="selectedCustomer"><b>Customer</b></label>
        <select ng-model="selectedCustomer" id="selectedCustomer" class="booking_input"  required>
            <option ng-repeat="customer in customers" value="selectedCustomer">{{customer.first_name}} {{customer.last_name}}</option>
        </select>

        <label for="car"><b>Car</b></label>
        <select ng-model="selectedCar" id="car" class="booking_input" ng-change="selectCar" required>
            <option ng-repeat="car in availableCarArray" value="car.id">{{car.make}} {{car.model}}</option>
        </select>

        <label for="date_from"><b>Date from</b></label>
        <input type="date" id="date_from" name="input" ng-model="dateFrom.value"
               placeholder="yyyy-MM-dd" (ngModelChange)="date_from.value = $event"/>

        <label for="date_to"><b>Date to</b></label>
        <input type="date" id="date_to" name="input" ng-model="dateTo.value"
               placeholder="yyyy-MM-dd" (ngModelChange)="date_to.value = $event"/>

    </form>

    <button type="button" ng-click="submitBooking()" class="savebtn">SAVE</button>
    <button type="button" ng-click="returnClick()" class="savebtn">RETURN TO LIST</button>

</div>

