<div id="bookingRegisterError" class="alert alert-danger" style="display: none">
    <strong>Registration error!</strong>
    <div id="registerErrorMessage"></div>
</div>
<div id="bookingRegisterWarning" class="alert alert-warning" style="display: none">
    <strong>Registration warning!</strong>
    <div id="registerWarningMessage"></div>
</div>

<div class="booking_container">
    <form>
        <h1>Edit booking info</h1>
        <hr class="booking_hr">

        <label for="customer"><b>Customer</b></label>
        <input ng-model="customer" class="customer_input" type="text" ng-disabled="customer" name="customer" id="customer">

        <label for="car"><b>Car</b></label>
        <input ng-model="car" class="car_input" type="text" ng-disabled="car" name="car" id="car">

        <label for="date_from"><b>Date from</b></label>
        <input type="date" id="date_from" name="" ng-model="dateFrom.value"
               placeholder="yyyy-MM-dd" (ngModelChange)="dateFrom.value = $event"/>

        <label for="date_to"><b>Date to</b></label>
        <input type="date" id="date_to" name="" ng-model="dateTo.value"
               placeholder="yyyy-MM-dd" (ngModelChange)="dateTo.value = $event"/>

    </form>

    <button type="button" ng-click="submitBooking()" class="savebtn">SAVE</button>
    <button type="button" ng-click="returnClick()" class="savebtn">RETURN TO LIST</button>

</div>

